<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!--引入logo，css-->
	<link rel="icon" th:href="@{/img/logo_1.ico}"/>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
		crossorigin="anonymous"/>
	<link rel="stylesheet" th:href="@{/css/global.css}" />
	<link rel="stylesheet" th:href="@{/css/login.css}" />

	<title>拼团旅游信息网-登录</title>
</head>
<style>

</style>

<body>
	<div class="nk-container" >
		<!-- 头部 -->
		<header class="bg-white sticky-top" style="box-shadow: 0px 0px 8px #2388e7" th:replace="index::header"></header>

		<!-- 内容 -->
		<div class="container parent " style="margin-top: 30px; background-color: white;  width: 600px;">

			<div class="row ml-0 mr-0 " style>
				<!-- 二维码 -->
				<div class="col-md-4" style="background-color: #2388e7;">
					<img th:src="@{/img/fc_code.jpg}" draggable="false"
						style="width: 130px; margin-left: 19px;margin-top: 50px;" />
					<p style="margin-bottom: 0px;margin-top: 10px;margin-left: 20px;color: white;">扫码关注【伏辰】</p>
					<div style="margin-left: 50px;color: white;">公众号</div>
				</div>
				<div class="col-md-8 mb-4">
					<form class="ml-5 mr-5 " th:action="@{/login}" method="post">
						<div class="form-group "></div>
						<!--切换注册框-->
						<div class="form-group ">
							<div class="pl-2 pt-1 pb-1"
								style="margin-bottom: 30px; margin-top: 20px; margin-left: 80px;background-color:#eeeeee ;width: 120px; border-Radius : 3px;">
								<a type="button" th:href="@{/register}" class="btn  btn-sm" style="height: 27px;">注册</a>
								<a type="button" th:href="@{/login}" class="btn  btn-sm"
									style="height: 27px;background-color: white;">登录</a>
							</div>
						</div>

						<!--账号-->
						<div class="form-group ">
							<input type="text" th:class="|form-control ${usernameMsg!=null?'is-invalid':''}|"
								   th:value="${param.username}"
								   id="username" name="username"
								   placeholder="请输入您的账号" required>
							<div class="invalid-feedback" th:text="${usernameMsg}">
								该账号不存在!
							</div>
						</div>
						<!--密码-->
						<div class="form-group">
							<input type="password"th:class="|form-control ${passwordMsg!=null?'is-invalid':''}|"
								   th:value="${param.password}"
								   id="password" name="password"
								   placeholder="请输入您的密码" required >
							<div class="invalid-feedback" th:text="${passwordMsg}">
								密码长度不能小于4位!
							</div>
						</div>
						<!--验证码-->
						<div class="form-group row">
							<div class="col-sm-7">
								<input type="text" th:class="|form-control ${codeMsg!=null?'is-invalid':''}|"
									   id="verifycode" name="code"
									placeholder="请输入验证码" required>
								<div class="invalid-feedback" th:text="${codeMsg}">
									验证码不正确!
								</div>
							</div>
							<div class="col-sm-5	">
								<img id="kaptcha" th:src="@{/kaptcha}" style="width:100px;height:40px;" class="mr-2" />
								<a href="javascript:refresh_kaptcha();" class="font-size-12 align-bottom">刷新验证码</a>
							</div>

						</div>
						<!--记住我，找回密码-->
						<div class="form-group">
							<div class="checkbox  ">
								<input type="checkbox" id="remember-me" name="rememberMe"
									   th:checked="${param.rememberMe}" checked="checked">
								<label class="form-check-label" for="remember-me">记住我</label>
								<a th:href="@{/forget}" class="text-danger float-right">忘记密码?</a>
							</div>
						</div>

						<!--登录按钮-->
						<div class="form-group">
							<div class="text-center">
								<button type="submit" class="btn btn-customColor text-white form-control">立即登录</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div style="height:200px"></div>
		<!-- 尾部 -->
		<footer class="bg-blue" th:replace="index::footer"></footer>
	</div>

	<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			crossorigin="anonymous"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/global.js}"></script>
	<script th:src="@{/js/login.js}"></script>
</body>

</html>