<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.mapper.DiscussPostMapper">
	<sql id="selectFields">
		id, user_id, title, content, type, status, create_time, comment_count, score
	</sql>
	
	<!--List<DiscussPost> selectDiscussPosts(Integer id, Integer offset, Integer limit);-->
	<select id="selectDiscussPosts" resultType="DiscussPost">
		select <include refid="selectFields"></include>
		from discuss_post
		where status != 2
		<if test="userId!=0">
			and user_id = #{userId}
		</if>
		order by type desc, create_time desc
		limit #{offset}, #{limit}
	</select>
	
	<!--Integer selectDiscussPostRows(@Param("userId") Integer userId);-->
	<select id="selectDiscussPostRows" resultType="Integer">
		select count(id)
		from discuss_post
		where status != 2
		<if test="userId!=0">
			and user_id = #{userId}
		</if>
	</select>
	
	<!--Integer insertDiscussPost(DiscussPost discussPost);-->
	<insert id="insertDiscussPost" parameterType="DiscussPost" keyProperty="id">
		insert into discuss_post (user_id, title, content, type, status, create_time, comment_count, score)
		values (#{userId}, #{title}, #{content}, #{type},
		        #{status}, #{createTime}, #{commentCount}, #{score})
	</insert>
	
	<!--DiscussPost selectDiscussPost(@Param("id") Integer id);-->
	<select id="selectDiscussPost" resultType="DiscussPost">
		select <include refid="selectFields"></include>
		from discuss_post
		where id = #{id}
	</select>
	
	<!--int updateCommentCount(int id, int commentCount);-->
	<update id="updateCommentCount">
		update discuss_post
		set comment_count = #{commentCount}
		where id = #{id}
	</update>

</mapper>