<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fuchen.travel.mapper.ScenicMapper">

    <!--List<Scenic> selectAllScenic();-->
    <select id="selectAllScenic" resultType="Scenic">
        select id, scenic_name, introduce, content, image_url, price
        from scenic
        limit #{offset}, #{limit};
    </select>

    <!--Scenic selectScenicById(@Param("id") Integer id);-->
    <select id="selectScenicById" resultType="Scenic">
        select id, scenic_name, introduce, content, image_url, notice, price, merchant, phone, address
        from scenic
        where id = #{id};
    </select>

    <!--selectScenicCountAll-->
    <select id="selectScenicCountAll" resultType="Integer">
        select count(*)
        from scenic
    </select>

    <!--List<Scenic> selectScenicByScenicName(@Param("scenicName") String scenicName);-->
    <select id="selectScenicByScenicName" resultType="Scenic">
        SELECT id, scenic_name, introduce, content, image_url, notice, price, address, create_time
        FROM scenic
        WHERE scenic_name LIKE "%"#{scenicName}"%"
        LIMIT #{offset}, #{limit};
    </select>

    <!-- 根据关键字查询景区数量 -->
    <select id="selectToScenicCount" resultType="Integer">
        SELECT COUNT(*)
        FROM scenic
        where scenic_name LIKE "%"#{keyword}"%";
    </select>
    <select id="selectScenicRe" resultType="Scenic">
        SELECT id, scenic_name, introduce, content, image_url, notice, price, address, create_time, status
        FROM scenic
        WHERE status = 1;
    </select>
</mapper>